<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4"
	xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<display-name>bac_nhw</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
	<servlet>
		<servlet-name>getUser</servlet-name>
		<servlet-class>com.bac.user.UserRest</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>getUser</servlet-name>
		<url-pattern>/get/user</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>postUser</servlet-name>
		<servlet-class>com.bac.user.UserRest</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>postUser</servlet-name>
		<url-pattern>/post/user</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>deleteUser</servlet-name>
		<servlet-class>com.bac.user.UserRest</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>deleteUser</servlet-name>
		<url-pattern>/delete/user</url-pattern>
	</servlet-mapping>


	<!-- Posting -->
	<servlet>
		<servlet-name>getPosting</servlet-name>
		<servlet-class>com.bac.posting.PostingRest</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>getPosting</servlet-name>
		<url-pattern>/get/posting</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>postPosting</servlet-name>
		<servlet-class>com.bac.posting.PostingRest</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>postPosting</servlet-name>
		<url-pattern>/post/posting</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>deletePosting</servlet-name>
		<servlet-class>com.bac.posting.PostingRest</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>deletePosting</servlet-name>
		<url-pattern>/delete/posting</url-pattern>
	</servlet-mapping>
	
	
	<!-- Comment -->
	<servlet>
		<servlet-name>getComment</servlet-name>
		<servlet-class>com.bac.comment.CommentRest</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>getComment</servlet-name>
		<url-pattern>/get/comment</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>postComment</servlet-name>
		<servlet-class>com.bac.comment.CommentRest</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>postComment</servlet-name>
		<url-pattern>/post/comment</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>deleteComment</servlet-name>
		<servlet-class>com.bac.comment.CommentRest</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>deleteComment</servlet-name>
		<url-pattern>/delete/comment</url-pattern>
	</servlet-mapping>
</web-app>